@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;800&display=swap');

body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(41, 41, 41);
  color: rgb(180, 215, 255);
  font-family: 'Exo 2', sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0%;
  margin-top: 0em;
  margin-bottom: 1em;
  padding: 0%;
}

a {
  text-decoration: none;
  color: inherit;
}
.react-eco {
  display: grid;
  place-items: center;
  font-size: 1.2em;
  font-weight: 300;
  font-family: sans-serif;
  color: rgb(255, 244, 180);
}

strong {
  font-weight: 400;
  color: azure;
}

input {
  background-color: rgb(45, 55, 66);
  color: azure;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  /* height: auto; */
}

.container {
  display: grid;
  place-items: center;
}

.main-head {
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 2rem;
  background-color: rgb(19, 19, 19);
  /* border-radius: 10px; */
  width: 100%;
  text-align: center;
  padding: 10px 0px;
}

table {
  border-collapse: collapse;
}

table th {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.356);
  color: rgb(228, 228, 228);
  padding: 4px 10px 4px 8px;
  font-weight: 600;
}

table td {
  border: 2px solid rgb(108, 129, 136);
  padding: 4px 8px;
  text-align: center;
}

table tr:nth-child(odd) td {
  background-color: rgba(51, 66, 70, 0.705);
}
