@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;800&display=swap");

body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(24, 24, 24);
  color: rgb(180, 215, 255);
  overflow-x: hidden;
  font-family: "Exo 2", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0%;
  margin-top: 0em;
  margin-bottom: 0em;
  padding: 0%;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  background-color: rgb(45, 55, 66);
  color: azure;
  border: none;
  border-radius: 5px;
  padding: 0.8em;
  font-size: medium;
  margin-top: 0.2em;
  margin-bottom: 0.4em;
  font-family: "Exo 2";
  /* height: auto; */
}

input:focus {
  outline: none;
}

.container {
  display: grid;
  place-items: center;
}

.main-head {
  margin-bottom: 1%;
  font-size: 2rem;
  background-color: rgb(21, 23, 26);
  /* border-radius: 10px; */
  width: 100%;
  text-align: center;
  padding: 10px 0px;
}

button {
  /* background-color: rgba(180, 215, 255, 0.925); */
  margin-top: 10px;
  background-color: transparent;
  /* text-align: center; */
  /* align-content: center; */
  border: 0;
  /* height: 50px; */
  /* width: fit-content; */
  color: rgb(180, 215, 255);
  /* padding: 15px 15px; */
  /* border-radius: 10px; */
  text-decoration: none;
  cursor: pointer;
  margin-left: 8px;
}

.posts {
  /* place-self: center; */
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 1em;
  background-color: rgb(36, 36, 36);
  padding: 0.8em;
  border-radius: 10px;
}

h4.title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: large;
  font-weight: 500;
  margin-bottom: 0.2em;
}

p.author {
  font-weight: 400;
  margin-bottom: 0.2em;
}

p.points {
  font-size: 12pt;
  margin-bottom: 0.2em;
  font-weight: 500;
}

.search-btn {
  color: aliceblue;
  transition: ease-in-out 200ms;
}

.search-btn:hover {
  color: rgb(180, 215, 255);
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(180, 215, 255);
  border-color: rgb(180, 215, 255) transparent rgb(180, 215, 255) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.footer {
  margin: 2em;
}

.x-btn {
  color: rgb(180, 215, 255);
  transition: ease-in-out 100ms;
}

.x-btn:hover {
  color: crimson;
}

.filters {
  /* padding: 0.5em 0.8em; */
  /* background-color: rgb(17, 17, 17); */
  margin-bottom: 1em;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  gap: 10px;
}

.sort-btn {
  font-size: 12pt;
  font-family: "Exo 2";
  font-weight: bolder;
  text-transform: uppercase;
}
